.btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 11px 14px;
  background: #ffffff;
  border: 1px solid #e6e6ea;
  box-sizing: border-box;
  border-radius: 8px;
  color: #121625;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  cursor: pointer;
}

.btn-upload {
  background: #a5a8b3;
  color: #ffffff;
}

.btn-icon {
  margin-right: 14px;
  width: 16px;
  height: 16px;
}
