.filter-select-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f9;
  border-radius: 8px;
  padding: 12px 15px;
  height: 40px;
  margin-top: 12px;
  width: 100%;
}

.location-select {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #121625;
}
